/* spacing helpers
 *p,m = padding,margin
 *a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 *s,m,l,n,a = small(.3125em),medium(.625em),large(1.25em),none(0),auto
 */
.ptn, .pvn, .pan {
    padding-top: 0; }

.pts, .pvs, .pas {
    padding-top: 0.3125em; }

.ptm, .pvm, .pam {
    padding-top: 0.625em; }

.ptl, .pvl, .pal {
    padding-top: 1.25em; }

.ptml, .pvml, .paml {
    padding-top: 1.3125em; }

.ptvl, .pvvl, .pavl {
    padding-top: 3em; }

.prn, .phn, .pan {
    padding-right: 0; }

.prs, .phs, .pas {
    padding-right: 0.3125em; }

.prm, .phm, .pam {
    padding-right: 0.625em; }

.prml, .phml, .paml {
    padding-right: 1.3125em; }

.prvl, .phvl, .pavl {
    padding-right: 3em; }

.prl, .phl, .pal {
    padding-right: 1.25em; }

.pbn, .pvn, .pan {
    padding-bottom: 0; }

.pbs, .pvs, .pas {
    padding-bottom: 0.3125em; }

.pbm, .pvm, .pam {
    padding-bottom: 0.625em; }

.pbml, .pvml, .paml {
    padding-bottom: 1.3125em; }

.pbvl, .pvvl, .pavl {
    padding-bottom: 0em; }

.pbl, .pvl, .pal {
    padding-bottom: 1.25em; }

.pln, .phn, .pan {
    padding-left: 0; }

.pls, .phs, .pas {
    padding-left: 0.3125em; }

.plm, .phm, .pam {
    padding-left: 0.625em; }

.plml, .phml, .paml {
    padding-left: 1.3125em; }

.plvl, .phvl, .pavl {
    padding-left: 3em; }

.pll, .phl, .pal {
    padding-left: 1.25em; }

.pxs {
    padding: 1px; }

.mtn, .mvn, .man {
    margin-top: 0; }

.mts, .mvs, .mas {
    margin-top: 0.3125em; }

.mtm, .mvm, .mam {
    margin-top: 0.625em; }

.mtml, .mvml, .maml {
    margin-top: 1.3125em; }

.mtvl, .mvvl, .mavl {
    margin-top: 3em; }

.mtl, .mvl, .mal {
    margin-top: 1.25em; }

.mrn, .mhn, .man {
    margin-right: 0; }

.mrs, .mhs, .mas {
    margin-right: 0.3125em; }

.mrm, .mhm, .mam {
    margin-right: 0.625em; }

.mrml, .mhml, .maml {
    margin-right: 1.3125em; }

.mrvl, .mhvl, .mavl {
    margin-right: 3em; }

.mrl, .mhl, .mal {
    margin-right: 1.25em; }

.mbn, .mvn, .man {
    margin-bottom: 0; }

.mbs, form.bc-form .group .text, .mvs, .mas {
    margin-bottom: 0.3125em; }

.mbm, .mvm, .mam {
    margin-bottom: 0.625em; }

.mbml, .mvml, .maml {
    margin-bottom: 1.3125em; }

.mbvl, .mvvl, .mavl {
    margin-bottom: 3em; }

.mbl, .mvl, .mal {
    margin-bottom: 1.25em; }

.mln, .mhn, .man {
    margin-left: 0; }

.mls, .mhs, .mas {
    margin-left: 0.3125em; }

.mlm, .mhm, .mam {
    margin-left: 0.625em; }

.mlml, .mhml, .maml {
    margin-left: 1.3125em; }

.mlvl, .mhvl, .mavl {
    margin-left: 3em; }

.mll, .mhl, .mal {
    margin-left: 1.25em; }

.pt-5 {
    padding-top: 5px; }

.pt-10 {
    padding-top: 10px; }

.pt-15 {
    padding-top: 15px; }

.pt-20 {
    padding-top: 20px; }

.pt-25 {
    padding-top: 25px; }

.pt-30 {
    padding-top: 30px; }

.pt-35 {
    padding-top: 35px; }

.pt-40 {
    padding-top: 40px; }

.pt-45 {
    padding-top: 45px; }

.pt-50 {
    padding-top: 50px; }

.pt-55 {
    padding-top: 55px; }

.pt-60 {
    padding-top: 60px; }

.pt-65 {
    padding-top: 65px; }

.pt-70 {
    padding-top: 70px; }

.pt-75 {
    padding-top: 75px; }

.pt-80 {
    padding-top: 80px; }

.pt-85 {
    padding-top: 85px; }

.pt-90 {
    padding-top: 90px; }

.pt-95 {
    padding-top: 95px; }

.pt-100 {
    padding-top: 100px; }

.pr-5 {
    padding-right: 5px; }

.pr-10 {
    padding-right: 10px; }

.pr-15 {
    padding-right: 15px; }

.pr-20 {
    padding-right: 20px; }

.pr-25 {
    padding-right: 25px; }

.pr-30 {
    padding-right: 30px; }

.pr-35 {
    padding-right: 35px; }

.pr-40 {
    padding-right: 40px; }

.pr-45 {
    padding-right: 45px; }

.pr-50 {
    padding-right: 50px; }

.pr-55 {
    padding-right: 55px; }

.pr-60 {
    padding-right: 60px; }

.pr-65 {
    padding-right: 65px; }

.pr-70 {
    padding-right: 70px; }

.pr-75 {
    padding-right: 75px; }

.pr-80 {
    padding-right: 80px; }

.pr-85 {
    padding-right: 85px; }

.pr-90 {
    padding-right: 90px; }

.pr-95 {
    padding-right: 95px; }

.pr-100 {
    padding-right: 100px; }

.pb-5 {
    padding-bottom: 5px; }

.pb-10 {
    padding-bottom: 10px; }

.pb-15 {
    padding-bottom: 15px; }

.pb-20 {
    padding-bottom: 20px; }

.pb-25 {
    padding-bottom: 25px; }

.pb-30 {
    padding-bottom: 30px; }

.pb-35 {
    padding-bottom: 35px; }

.pb-40 {
    padding-bottom: 40px; }

.pb-45 {
    padding-bottom: 45px; }

.pb-50 {
    padding-bottom: 50px; }

.pb-55 {
    padding-bottom: 55px; }

.pb-60 {
    padding-bottom: 60px; }

.pb-65 {
    padding-bottom: 65px; }

.pb-70 {
    padding-bottom: 70px; }

.pb-75 {
    padding-bottom: 75px; }

.pb-80 {
    padding-bottom: 80px; }

.pb-85 {
    padding-bottom: 85px; }

.pb-90 {
    padding-bottom: 90px; }

.pb-95 {
    padding-bottom: 95px; }

.pb-100 {
    padding-bottom: 100px; }

.pl-5 {
    padding-left: 5px; }

.pl-10 {
    padding-left: 10px; }

.pl-15 {
    padding-left: 15px; }

.pl-20 {
    padding-left: 20px; }

.pl-25 {
    padding-left: 25px; }

.pl-30 {
    padding-left: 30px; }

.pl-35 {
    padding-left: 35px; }

.pl-40 {
    padding-left: 40px; }

.pl-45 {
    padding-left: 45px; }

.pl-50 {
    padding-left: 50px; }

.pl-55 {
    padding-left: 55px; }

.pl-60 {
    padding-left: 60px; }

.pl-65 {
    padding-left: 65px; }

.pl-70 {
    padding-left: 70px; }

.pl-75 {
    padding-left: 75px; }

.pl-80 {
    padding-left: 80px; }

.pl-85 {
    padding-left: 85px; }

.pl-90 {
    padding-left: 90px; }

.pl-95 {
    padding-left: 95px; }

.pl-100 {
    padding-left: 100px; }

.ph-5 {
    padding-left: 5px;
    padding-right: 5px; }

.ph-10 {
    padding-left: 10px;
    padding-right: 10px; }

.ph-15 {
    padding-left: 15px;
    padding-right: 15px; }

.ph-20 {
    padding-left: 20px;
    padding-right: 20px; }

.ph-25 {
    padding-left: 25px;
    padding-right: 25px; }

.ph-30 {
    padding-left: 30px;
    padding-right: 30px; }

.ph-35 {
    padding-left: 35px;
    padding-right: 35px; }

.ph-40 {
    padding-left: 40px;
    padding-right: 40px; }

.ph-45 {
    padding-left: 45px;
    padding-right: 45px; }

.ph-50 {
    padding-left: 50px;
    padding-right: 50px; }

.ph-55 {
    padding-left: 55px;
    padding-right: 55px; }

.ph-60 {
    padding-left: 60px;
    padding-right: 60px; }

.ph-65 {
    padding-left: 65px;
    padding-right: 65px; }

.ph-70 {
    padding-left: 70px;
    padding-right: 70px; }

.ph-75 {
    padding-left: 75px;
    padding-right: 75px; }

.ph-80 {
    padding-left: 80px;
    padding-right: 80px; }

.ph-85 {
    padding-left: 85px;
    padding-right: 85px; }

.ph-90 {
    padding-left: 90px;
    padding-right: 90px; }

.ph-95 {
    padding-left: 95px;
    padding-right: 95px; }

.ph-100 {
    padding-left: 100px;
    padding-right: 100px; }

.pv-5 {
    padding-top: 5px;
    padding-bottom: 5px; }

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px; }

.pv-15 {
    padding-top: 15px;
    padding-bottom: 15px; }

.pv-20 {
    padding-top: 20px;
    padding-bottom: 20px; }

.pv-25 {
    padding-top: 25px;
    padding-bottom: 25px; }

.pv-30 {
    padding-top: 30px;
    padding-bottom: 30px; }

.pv-35 {
    padding-top: 35px;
    padding-bottom: 35px; }

.pv-40 {
    padding-top: 40px;
    padding-bottom: 40px; }

.pv-45 {
    padding-top: 45px;
    padding-bottom: 45px; }

.pv-50 {
    padding-top: 50px;
    padding-bottom: 50px; }

.pv-55 {
    padding-top: 55px;
    padding-bottom: 55px; }

.pv-60 {
    padding-top: 60px;
    padding-bottom: 60px; }

.pv-65 {
    padding-top: 65px;
    padding-bottom: 65px; }

.pv-70 {
    padding-top: 70px;
    padding-bottom: 70px; }

.pv-75 {
    padding-top: 75px;
    padding-bottom: 75px; }

.pv-80 {
    padding-top: 80px;
    padding-bottom: 80px; }

.pv-85 {
    padding-top: 85px;
    padding-bottom: 85px; }

.pv-90 {
    padding-top: 90px;
    padding-bottom: 90px; }

.pv-95 {
    padding-top: 95px;
    padding-bottom: 95px; }

.pv-100 {
    padding-top: 100px;
    padding-bottom: 100px; }

.mt-5 {
    margin-top: 5px; }

.mt-10 {
    margin-top: 10px; }

.mt-15 {
    margin-top: 15px; }

.mt-20 {
    margin-top: 20px; }

.mt-25 {
    margin-top: 25px; }

.mt-30 {
    margin-top: 30px; }

.mt-35 {
    margin-top: 35px; }

.mt-40 {
    margin-top: 40px; }

.mt-45 {
    margin-top: 45px; }

.mt-50 {
    margin-top: 50px; }

.mt-55 {
    margin-top: 55px; }

.mt-60 {
    margin-top: 60px; }

.mt-65 {
    margin-top: 65px; }

.mt-70 {
    margin-top: 70px; }

.mt-75 {
    margin-top: 75px; }

.mt-80 {
    margin-top: 80px; }

.mt-85 {
    margin-top: 85px; }

.mt-90 {
    margin-top: 90px; }

.mt-95 {
    margin-top: 95px; }

.mt-100 {
    margin-top: 100px; }

.mr-5 {
    margin-right: 5px; }

.mr-10 {
    margin-right: 10px; }

.mr-15 {
    margin-right: 15px; }

.mr-20 {
    margin-right: 20px; }

.mr-25 {
    margin-right: 25px; }

.mr-30 {
    margin-right: 30px; }

.mr-35 {
    margin-right: 35px; }

.mr-40 {
    margin-right: 40px; }

.mr-45 {
    margin-right: 45px; }

.mr-50 {
    margin-right: 50px; }

.mr-55 {
    margin-right: 55px; }

.mr-60 {
    margin-right: 60px; }

.mr-65 {
    margin-right: 65px; }

.mr-70 {
    margin-right: 70px; }

.mr-75 {
    margin-right: 75px; }

.mr-80 {
    margin-right: 80px; }

.mr-85 {
    margin-right: 85px; }

.mr-90 {
    margin-right: 90px; }

.mr-95 {
    margin-right: 95px; }

.mr-100 {
    margin-right: 100px; }

.mb-5 {
    margin-bottom: 5px; }

.mb-10 {
    margin-bottom: 10px; }

.mb-15 {
    margin-bottom: 15px; }

.mb-20 {
    margin-bottom: 20px; }

.mb-25 {
    margin-bottom: 25px; }

.mb-30 {
    margin-bottom: 30px; }

.mb-35 {
    margin-bottom: 35px; }

.mb-40 {
    margin-bottom: 40px; }

.mb-45 {
    margin-bottom: 45px; }

.mb-50 {
    margin-bottom: 50px; }

.mb-55 {
    margin-bottom: 55px; }

.mb-60 {
    margin-bottom: 60px; }

.mb-65 {
    margin-bottom: 65px; }

.mb-70 {
    margin-bottom: 70px; }

.mb-75 {
    margin-bottom: 75px; }

.mb-80 {
    margin-bottom: 80px; }

.mb-85 {
    margin-bottom: 85px; }

.mb-90 {
    margin-bottom: 90px; }

.mb-95 {
    margin-bottom: 95px; }

.mb-100 {
    margin-bottom: 100px; }

.ml-5 {
    margin-left: 5px; }

.ml-10 {
    margin-left: 10px; }

.ml-15 {
    margin-left: 15px; }

.ml-20 {
    margin-left: 20px; }

.ml-25 {
    margin-left: 25px; }

.ml-30 {
    margin-left: 30px; }

.ml-35 {
    margin-left: 35px; }

.ml-40 {
    margin-left: 40px; }

.ml-45 {
    margin-left: 45px; }

.ml-50 {
    margin-left: 50px; }

.ml-55 {
    margin-left: 55px; }

.ml-60 {
    margin-left: 60px; }

.ml-65 {
    margin-left: 65px; }

.ml-70 {
    margin-left: 70px; }

.ml-75 {
    margin-left: 75px; }

.ml-80 {
    margin-left: 80px; }

.ml-85 {
    margin-left: 85px; }

.ml-90 {
    margin-left: 90px; }

.ml-95 {
    margin-left: 95px; }

.ml-100 {
    margin-left: 100px; }

.mh-5 {
    margin-left: 5px;
    margin-right: 5px; }

.mh-10 {
    margin-left: 10px;
    margin-right: 10px; }

.mh-15 {
    margin-left: 15px;
    margin-right: 15px; }

.mh-20 {
    margin-left: 20px;
    margin-right: 20px; }

.mh-25 {
    margin-left: 25px;
    margin-right: 25px; }

.mh-30 {
    margin-left: 30px;
    margin-right: 30px; }

.mh-35 {
    margin-left: 35px;
    margin-right: 35px; }

.mh-40 {
    margin-left: 40px;
    margin-right: 40px; }

.mh-45 {
    margin-left: 45px;
    margin-right: 45px; }

.mh-50 {
    margin-left: 50px;
    margin-right: 50px; }

.mh-55 {
    margin-left: 55px;
    margin-right: 55px; }

.mh-60 {
    margin-left: 60px;
    margin-right: 60px; }

.mh-65 {
    margin-left: 65px;
    margin-right: 65px; }

.mh-70 {
    margin-left: 70px;
    margin-right: 70px; }

.mh-75 {
    margin-left: 75px;
    margin-right: 75px; }

.mh-80 {
    margin-left: 80px;
    margin-right: 80px; }

.mh-85 {
    margin-left: 85px;
    margin-right: 85px; }

.mh-90 {
    margin-left: 90px;
    margin-right: 90px; }

.mh-95 {
    margin-left: 95px;
    margin-right: 95px; }

.mh-100 {
    margin-left: 100px;
    margin-right: 100px; }

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px; }

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px; }

.mv-15 {
    margin-top: 15px;
    margin-bottom: 15px; }

.mv-20 {
    margin-top: 20px;
    margin-bottom: 20px; }

.mv-25 {
    margin-top: 25px;
    margin-bottom: 25px; }

.mv-30 {
    margin-top: 30px;
    margin-bottom: 30px; }

.mv-35 {
    margin-top: 35px;
    margin-bottom: 35px; }

.mv-40 {
    margin-top: 40px;
    margin-bottom: 40px; }

.mv-45 {
    margin-top: 45px;
    margin-bottom: 45px; }

.mv-50 {
    margin-top: 50px;
    margin-bottom: 50px; }

.mv-55 {
    margin-top: 55px;
    margin-bottom: 55px; }

.mv-60 {
    margin-top: 60px;
    margin-bottom: 60px; }

.mv-65 {
    margin-top: 65px;
    margin-bottom: 65px; }

.mv-70 {
    margin-top: 70px;
    margin-bottom: 70px; }

.mv-75 {
    margin-top: 75px;
    margin-bottom: 75px; }

.mv-80 {
    margin-top: 80px;
    margin-bottom: 80px; }

.mv-85 {
    margin-top: 85px;
    margin-bottom: 85px; }

.mv-90 {
    margin-top: 90px;
    margin-bottom: 90px; }

.mv-95 {
    margin-top: 95px;
    margin-bottom: 95px; }

.mv-100 {
    margin-top: 100px;
    margin-bottom: 100px; }

@media (max-width: 767px) {
    .ph-5-mobile {
        padding-left: 5px;
        padding-right: 5px; } }

@media (max-width: 767px) {
    .ph-10-mobile {
        padding-left: 10px;
        padding-right: 10px; } }

@media (max-width: 767px) {
    .ph-15-mobile {
        padding-left: 15px;
        padding-right: 15px; } }

@media (max-width: 767px) {
    .ph-20-mobile {
        padding-left: 20px;
        padding-right: 20px; } }

@media (max-width: 767px) {
    .ph-25-mobile {
        padding-left: 25px;
        padding-right: 25px; } }

@media (max-width: 767px) {
    .ph-30-mobile {
        padding-left: 30px;
        padding-right: 30px; } }

@media (max-width: 767px) {
    .ph-35-mobile {
        padding-left: 35px;
        padding-right: 35px; } }

@media (max-width: 767px) {
    .ph-40-mobile {
        padding-left: 40px;
        padding-right: 40px; } }

@media (max-width: 767px) {
    .ph-45-mobile {
        padding-left: 45px;
        padding-right: 45px; } }

@media (max-width: 767px) {
    .ph-50-mobile {
        padding-left: 50px;
        padding-right: 50px; } }

@media (max-width: 767px) {
    .pv-5-mobile {
        padding-top: 5px;
        padding-bottom: 5px; } }

@media (max-width: 767px) {
    .pv-10-mobile {
        padding-top: 10px;
        padding-bottom: 10px; } }

@media (max-width: 767px) {
    .pv-15-mobile {
        padding-top: 15px;
        padding-bottom: 15px; } }

@media (max-width: 767px) {
    .pv-20-mobile {
        padding-top: 20px;
        padding-bottom: 20px; } }

@media (max-width: 767px) {
    .pv-25-mobile {
        padding-top: 25px;
        padding-bottom: 25px; } }

@media (max-width: 767px) {
    .pv-30-mobile {
        padding-top: 30px;
        padding-bottom: 30px; } }

@media (max-width: 767px) {
    .pv-35-mobile {
        padding-top: 35px;
        padding-bottom: 35px; } }

@media (max-width: 767px) {
    .pv-40-mobile {
        padding-top: 40px;
        padding-bottom: 40px; } }

@media (max-width: 767px) {
    .pv-45-mobile {
        padding-top: 45px;
        padding-bottom: 45px; } }

@media (max-width: 767px) {
    .pv-50-mobile {
        padding-top: 50px;
        padding-bottom: 50px; } }

@media (max-width: 767px) {
    .mt-5-mobile {
        padding-top: 5px;
        padding-bottom: 5px; } }

@media (max-width: 767px) {
    .mt-10-mobile {
        padding-top: 10px;
        padding-bottom: 10px; } }

@media (max-width: 767px) {
    .mt-15-mobile {
        padding-top: 15px;
        padding-bottom: 15px; } }

@media (max-width: 767px) {
    .mt-20-mobile {
        padding-top: 20px;
        padding-bottom: 20px; } }

@media (max-width: 767px) {
    .mt-25-mobile {
        padding-top: 25px;
        padding-bottom: 25px; } }

@media (max-width: 767px) {
    .mh-5-mobile {
        padding-top: 5px;
        padding-bottom: 5px; } }

@media (max-width: 767px) {
    .mh-10-mobile {
        padding-top: 10px;
        padding-bottom: 10px; } }

@media (max-width: 767px) {
    .mh-15-mobile {
        padding-top: 15px;
        padding-bottom: 15px; } }

@media (max-width: 767px) {
    .mh-20-mobile {
        padding-top: 20px;
        padding-bottom: 20px; } }

@media (max-width: 767px) {
    .mh-25-mobile {
        padding-top: 25px;
        padding-bottom: 25px; } }

@media (max-width: 767px) {
    .mt-5-mobile {
        margin-top: 5px; } }

@media (max-width: 767px) {
    .mt-10-mobile {
        margin-top: 10px; } }

@media (max-width: 767px) {
    .mt-15-mobile {
        margin-top: 15px; } }

@media (max-width: 767px) {
    .mt-20-mobile {
        margin-top: 20px; } }

@media (max-width: 767px) {
    .mt-25-mobile {
        margin-top: 25px; } }

@media (max-width: 767px) {
    .mr-5-mobile {
        margin-right: 5px; } }

@media (max-width: 767px) {
    .mr-10-mobile {
        margin-right: 10px; } }

@media (max-width: 767px) {
    .mr-15-mobile {
        margin-right: 15px; } }

@media (max-width: 767px) {
    .mr-20-mobile {
        margin-right: 20px; } }

@media (max-width: 767px) {
    .mr-25-mobile {
        margin-right: 25px; } }

@media (max-width: 767px) {
    .mb-5-mobile {
        margin-bottom: 5px; } }

@media (max-width: 767px) {
    .mb-10-mobile {
        margin-bottom: 10px; } }

@media (max-width: 767px) {
    .mb-15-mobile {
        margin-bottom: 15px; } }

@media (max-width: 767px) {
    .mb-20-mobile {
        margin-bottom: 20px; } }

@media (max-width: 767px) {
    .mb-25-mobile {
        margin-bottom: 25px; } }

@media (max-width: 767px) {
    .ml-5-mobile {
        margin-left: 5px; } }

@media (max-width: 767px) {
    .ml-10-mobile {
        margin-left: 10px; } }

@media (max-width: 767px) {
    .ml-15-mobile {
        margin-left: 15px; } }

@media (max-width: 767px) {
    .ml-20-mobile {
        margin-left: 20px; } }

@media (max-width: 767px) {
    .ml-25-mobile {
        margin-left: 25px; } }

@media (max-width: 767px) {
    .no-padding-mobile {
        padding: 0px; } }

@media (max-width: 767px) {
    .no-margin-mobile {
        margin: 0px; } }

.display-block {
    display: block; }

.display-inline-block {
    display: inline-block; }

.float-right {
    float: right; }

.height-100, .modal.center .modal-dialog {
    height: 100%; }

.width-33 {
    width: 33.333%; }

.width-5 {
    width: 5%; }
@media (max-width: 991px) {
    .width-5 {
        width: auto; } }

.width-10 {
    width: 10%; }
@media (max-width: 991px) {
    .width-10 {
        width: auto; } }

.width-15 {
    width: 15%; }
@media (max-width: 991px) {
    .width-15 {
        width: auto; } }

.width-20 {
    width: 20%; }
@media (max-width: 991px) {
    .width-20 {
        width: auto; } }

.width-25 {
    width: 25%; }
@media (max-width: 991px) {
    .width-25 {
        width: auto; } }

.width-30 {
    width: 30%; }
@media (max-width: 991px) {
    .width-30 {
        width: auto; } }

.width-35 {
    width: 35%; }
@media (max-width: 991px) {
    .width-35 {
        width: auto; } }

.width-40 {
    width: 40%; }
@media (max-width: 991px) {
    .width-40 {
        width: auto; } }

.width-45 {
    width: 45%; }
@media (max-width: 991px) {
    .width-45 {
        width: auto; } }

.width-50 {
    width: 50%; }
@media (max-width: 991px) {
    .width-50 {
        width: auto; } }

.width-55 {
    width: 55%; }
@media (max-width: 991px) {
    .width-55 {
        width: auto; } }

.width-60 {
    width: 60%; }
@media (max-width: 991px) {
    .width-60 {
        width: auto; } }

.width-65 {
    width: 65%; }
@media (max-width: 991px) {
    .width-65 {
        width: auto; } }

.width-70 {
    width: 70%; }
@media (max-width: 991px) {
    .width-70 {
        width: auto; } }

.width-75 {
    width: 75%; }
@media (max-width: 991px) {
    .width-75 {
        width: auto; } }

.width-80 {
    width: 80%; }
@media (max-width: 991px) {
    .width-80 {
        width: auto; } }

.width-85 {
    width: 85%; }
@media (max-width: 991px) {
    .width-85 {
        width: auto; } }

.width-90 {
    width: 90%; }
@media (max-width: 991px) {
    .width-90 {
        width: auto; } }

.width-95 {
    width: 95%; }
@media (max-width: 991px) {
    .width-95 {
        width: auto; } }

.width-100, .modal.center .modal-dialog .modal-content {
    width: 100%; }
@media (max-width: 991px) {
    .width-100, .modal.center .modal-dialog .modal-content {
        width: auto; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-5-tablet {
        width: 5%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-10-tablet {
        width: 10%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-15-tablet {
        width: 15%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-20-tablet {
        width: 20%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-25-tablet {
        width: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-30-tablet {
        width: 30%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-35-tablet {
        width: 35%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-40-tablet {
        width: 40%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-45-tablet {
        width: 45%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-50-tablet {
        width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-55-tablet {
        width: 55%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-60-tablet {
        width: 60%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-65-tablet {
        width: 65%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-70-tablet {
        width: 70%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-75-tablet {
        width: 75%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-80-tablet {
        width: 80%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-85-tablet {
        width: 85%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-90-tablet {
        width: 90%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-95-tablet {
        width: 95%; } }

@media (min-width: 768px) and (max-width: 991px) {
    .width-100-tablet {
        width: 100%; } }

@media (max-width: 767px) {
    .width-5-mobile {
        width: 5%; } }

@media (max-width: 767px) {
    .width-10-mobile {
        width: 10%; } }

@media (max-width: 767px) {
    .width-15-mobile {
        width: 15%; } }

@media (max-width: 767px) {
    .width-20-mobile {
        width: 20%; } }

@media (max-width: 767px) {
    .width-25-mobile {
        width: 25%; } }

@media (max-width: 767px) {
    .width-30-mobile {
        width: 30%; } }

@media (max-width: 767px) {
    .width-35-mobile {
        width: 35%; } }

@media (max-width: 767px) {
    .width-40-mobile {
        width: 40%; } }

@media (max-width: 767px) {
    .width-45-mobile {
        width: 45%; } }

@media (max-width: 767px) {
    .width-50-mobile {
        width: 50%; } }

@media (max-width: 767px) {
    .width-55-mobile {
        width: 55%; } }

@media (max-width: 767px) {
    .width-60-mobile {
        width: 60%; } }

@media (max-width: 767px) {
    .width-65-mobile {
        width: 65%; } }

@media (max-width: 767px) {
    .width-70-mobile {
        width: 70%; } }

@media (max-width: 767px) {
    .width-75-mobile {
        width: 75%; } }

@media (max-width: 767px) {
    .width-80-mobile {
        width: 80%; } }

@media (max-width: 767px) {
    .width-85-mobile {
        width: 85%; } }

@media (max-width: 767px) {
    .width-90-mobile {
        width: 90%; } }

@media (max-width: 767px) {
    .width-95-mobile {
        width: 95%; } }

@media (max-width: 767px) {
    .width-100-mobile {
        width: 100%; } }

.type-xs {
    font-size: .75em; }

.type-sm {
    font-size: .9em; }

.type-h5 {
    font-size: 1.2em; }

.type-md {
    font-size: 1.3em; }

.type-h4 {
    font-size: 1.5em; }

.type-lbl {
    font-size: 1.1em; }

.type-lrg {
    font-size: 2em; }

.type-med {
    font-size: 2.2em; }

.type-yuge {
    font-size: 5em; }

.f-60 {
    font-size: 60px; }

.f-48 {
    font-size: 48px; }

.f-36 {
    font-size: 36px; }

.f-28 {
    font-size: 28px; }

.f-24 {
    font-size: 24px; }

.f-20 {
    font-size: 20px; }

.f-18 {
    font-size: 18px; }

.f-16 {
    font-size: 16px; }

.f-14 {
    font-size: 14px; }

.f-13 {
    font-size: 13px; }

.f-12 {
    font-size: 12px; }

.f-10 {
    font-size: 10px; }

.f-8 {
    font-size: 8px; }

.right-align {
    text-align: right; }

.left-align {
    text-align: left; }

.center-align {
    text-align: center; }

.center {
    text-align: center; }

.shadow {
    text-shadow: 0 1px 1px #ccc; }

.no-select {
    user-select: none; }

.break-word {
    word-break: break-word; }

.long-input {
    overflow-wrap: break-word; }

.text {
    font-size: 14px; }

.tilda:before {
    content: '~'; }

.colon:after {
    content: ':'; }

.period:after {
    content: '.'; }

.exclaim:after {
    content: '!'; }

.upper {
    text-transform: uppercase; }

.capitalize {
    text-transform: capitalize; }

.transform-none {
    text-transform: none; }

.text-overflow-hidden, .ui-select-match-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 10px);
    font-weight: 300;
    display: block; }

@media (max-width: 767px) {
    .left-align-mobile {
        text-align: left; }
    .center-mobile {
        text-align: center; } }

@media (max-width: 991px) {
    .left-align-tablet {
        text-align: left; }
    .center-tablet {
        text-align: center; } }

.font-1 {
    font-size: 1em; }

.font-2 {
    font-size: 2em; }

.font-3 {
    font-size: 3em; }

.font-4 {
    font-size: 4em; }

.font-5 {
    font-size: 5em; }

@media (max-width: 767px) {
    .font-1-mobile {
        font-size: 1em; } }

@media (max-width: 767px) {
    .font-2-mobile {
        font-size: 2em; } }

@media (max-width: 767px) {
    .font-3-mobile {
        font-size: 3em; } }

@media (max-width: 767px) {
    .font-4-mobile {
        font-size: 4em; } }

@media (max-width: 767px) {
    .font-5-mobile {
        font-size: 5em; } }

@media (max-width: 767px) {
    .f-12-mobile {
        font-size: 12px; }
    .f-14-mobile {
        font-size: 14px; }
    .f-16-mobile {
        font-size: 16px; }
    .f-18-mobile {
        font-size: 18px; }
    .f-20-mobile {
        font-size: 20px; } }

/* GLOBAL HEADER FOR .COM, .INFO, CHARTS, STATS, MARKETS, WALLET (SEPTEMBER 2017) */
button:focus {
    outline: none !important; }

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

@media (max-width: 768px) {
    .container {
        width: 100%; } }

.margin-auto {
    margin: 0px auto; }

.align-left {
    text-align: left; }

.align-right {
    text-align: right; }

.type-xs {
    font-size: 8px; }

.type-sm {
    font-size: 12px; }

.type-p {
    font-size: 14px; }

.type-h3 {
    font-size: 21px; }

.type-h5 {
    font-size: 16px; }

.type-h4 {
    font-size: 18px; }

.type-lbl {
    font-size: 12px; }

.type-md {
    font-size: 24px; }

.type-lrg {
    font-size: 32px; }

.type-mlrg {
    font-size: 40px; }

.type-lrger {
    font-size: 48px; }

.l-title {
    font-size: 62px; }

.lm-title {
    font-size: 72px; }

.xl-title {
    font-size: 90px; }

@media (max-width: 768px) {
    .type-p {
        font-size: 14px; }
    .type-h5 {
        font-size: 16px; }
    .type-h4 {
        font-size: 16px; }
    .type-lrger {
        font-size: 32px; }
    .title {
        font-size: 32px; }
    .l-title {
        font-size: 36px; }
    .lm-title {
        font-size: 38px; }
    .xl-title {
        font-size: 40px; }
    .f-12-mobile {
        font-size: 12px; }
    .f-18-mobile {
        font-size: 18px; }
    .f-14-mobile {
        font-size: 14px; } }

.uppercase {
    text-transform: uppercase; }

.ls-title {
    letter-spacing: 0.1em; }

.ls-label {
    letter-spacing: 0.05em; }

.lh1 {
    line-height: 1; }

@media (max-width: 992px) {
    .lh1-tablet {
        line-height: 1; } }